
.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This is the start of the dashboard page  */
.dashboard_view {
  height: 100vh;
  background-color: #212529;
  border-radius: 0.2857rem;
  box-shadow: inset 0 -0.1rem 0 rgba(34, 42, 66, 0.25);

  
 }

.dashboard_view .header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #000;

  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dashboard_view .header h1 {
  border-right: 2px solid #000;
  padding: 15px 50px 15px 5%;
  margin-bottom: 0;
  width: 30%;
  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dashboard_view .header .icon_container { 
  padding: 15px 5% 15px 5%;
  
  
}

.dashboard_view .header .icon_container .icon_button{ 
  background: rgb(118, 215, 196);
  border-radius: 50%;
  display: inline-flex;
  height: 35px; width: 35px;
  flex-direction: column; justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-left: 5px;

  position: relative;
  border-top: 2px solid #e14eca;
  background: linear-gradient(#1e1e2f, #1e1e24);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  .main-panel[data="blue"] {
    border-top: 2px solid #1d8cf8; }
  .main-panel[data="green"] {
    border-top: 2px solid #00f2c3; }
  .main-panel[data="primary"] {
    border-top: 2px solid #e14eca; }
  .main-panel > .content {
    padding: 78px 30px 30px 280px;
    min-height: calc(100vh - 70px); }
  .main-panel > .navbar {
    margin-bottom: 0; }
  .main-panel .header {
    margin-bottom: 50px; }

.perfect-scrollbar-on .main-panel {
  height: 100%;
  max-height: 100%;
  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dashboard_view .body { 
  display: flex;
  flex-direction: row;
  height: 100%;

  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
       
  
}

.dashboard_view .body .body_content { 
  padding: 10px 10px;
  flex: 1;
  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dashboard_view .body .nav_container {
  width: 30%; display: flex;
  flex-direction: column;
  border-right: 2px solid #000;
 }

.nav_button {
  display: flex;
  flex-direction: row;
  padding: 15px 5% 15px 5%;
  border-bottom: 2px solid #000;
  justify-content: center;
  cursor: pointer;
}
.nav_button h2 { 
  margin: 0;
 
}

.nav_button i{
  font-size: 24px;
  margin-right: 7px;

}


/* This is the end of the dashboard page  */



/* This is the start of the charts page  */


.block_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.block_container .block{
  padding: 5px 5px;
  
}
.block_container .block.sz-1 { width: calc(10% - 10px); }

.block_container .block.sz-2 { width: calc(20% - 10px); }

.block_container .block.sz-3 { width: calc(30% - 10px); }

.block_container .block.sz-4 { width: calc(40% - 10px); }

.block_container .block.sz-5 { width: calc(50% - 10px); }

.block_container .block.sz-6 { width: calc(60% - 10px); }

.block_container .block.sz-7 { width: calc(70% - 10px); }

.block_container .block.sz-8 { width: calc(80% - 10px); }

.block_container .block.sz-9 { width: calc(90% - 10px); }

.block_container .block.sz-10 { width: calc(100% - 10px); }

.block_content {
  height: 150px;
  border: 2px solid #000;
  border-radius: 8px;
  -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: 1px solid #2b3553;
  border-radius: 0.4285rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mini_text{
  font-size: 10px;
}








/* This is the end of the charts page  */












